.quality-box{
    background-image:url("https://avatars.mds.yandex.net/i?id=365f9bcfa83ae68cbdfd155ec93f52c78ab09b81-10954814-images-thumbs&n=13");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 600px;
       
}